 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
          <%= link_to "sample app", "#", id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to I18n.t("home"), "#" %></li>
              <li><%= link_to I18n.t("help"), "#" %></li>
              <li><%= link_to I18n.t("login"), "#" %></li>
              <li><%= link_to I18n.t("sign_up"), signup_path %></li>
            </ul>
         </nav>
      </div>
      <div class = "style_link_locale">
        <%= link_to t("English"), locale: :en %>
        <%= link_to t("Vietnamese"), locale: :vi %>
      </div>
 </header>
